*.sw[op]
key_*.pem
data/*
config/*
static/media/*
static/twemoji/*
static/pure.css
.env
.tox
venv*
kubernetes/deploy
kubernetes/deploy*.yaml

.mypy_cache/
__pycache__/
.pytest_cache/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.coverage
